@import "../abstracts/variables";

.links-container {
  a {
    color: $active-link;
  }
  .code-example__title {
    color: white;
  }
}
.code-example__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.7rem 0 0.2rem;
}
