@import "../base/typography";
.side-col {
  background-color: $side-color;
}
.side-bar {
  color: $text-color;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  .side-bar__row {
    padding: 2rem;
  }
  .side-bar__row__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  a {
    color: $text-color;
    text-transform: capitalize;
    font-weight: normal;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  li {
    list-style-type: none;
  }
  dt {
    padding: 1rem 0;
  }
} //refactor

.side-bar__row__title--active {
  color: $active-link;
}
