<article class="digital-goods">
  <div class="digital-goods__container">
    <h1>Digital goods</h1>
    <p>
      Digital Goods API is mainly focused on selling In-game virtual items,
      services and premium membership with PayAlto.
    </p>
    <h2>Stored Widget Call</h2>
    <p>
      It shows a widget, where stored products in Products section of Merchant
      Acoount are available for payment. Both subscription and one-time payment
      are supported in out products section
    </p>
  </div>
</article>
