<div class="code-example__container initialize-container">
  <h5 class="code-example__title">Initialize</h5>
  <div class="initialize-container__initialize-code">
    <pre>
        <code>
          <span class="code--purple">import</span> com.paymentwall.java.Base;

                <span class="code--red">Base.</span><span class="code--blue">setAppKey(<span class="code--green">"YOUR_APPLICATION_CODE"</span>)</span>;
                <span class="code--red">Base.</span><span class="code--blue">setECURITYKey(<span class="code--green">"YOUR_SECRET_KEY"</span>)</span>;
                <span class="code--red">Base.</span><span class="code--blue">setApiType(<span class="code--red">"Base.<span class="code--orange">API_GOODS</span>"</span>)</span>;
        </code>
      </pre>
  </div>
</div>
