<nav class="nav collapsible">
  <div class="nav__logo-container">
    <img src="./images/PW20_logo_light.svg" alt="" />
    <span class="nav__logo-title">API</span>
  </div>
  <div class="nav__burger">
    <span class="nav__burger__line"></span>
    <span class="nav__burger__line"></span>
    <span class="nav__burger__line"></span>
  </div>
  <div class="nav__sign-up-container">
    <span class="nav__sign-up-container__text">Don't have a PW Account?</span>
    <a class="nav__sign-up-container__button">Sign up</a>
  </div>
</nav>
