<section class="side-bar">
    <div class="side-bar__row">
      <div class="side-bar__row__title">payalto</div>
      <dl>
        <dt class="side-bar__row__title  side-bar__row__title--active">Digital Goods</dt>
        <dd><a href="#">
          <dd>Sorted Widget Call</dd>
        </a></dd>
        <dd>
          <a href="#">Non-sorted Widget</a>
        </dt class="side-bar__row__title" >
        <dd><a href="#">Optional Parameters</a></dd>
        <dt class="side-bar__row__title">Virtual Currency</dt>
        <dd><a href="#">Widget Call</a></dd>
        <dt class="side-bar__row__title">Callback</dt>
        <dt class="side-bar__row__title">Pinback processing</dt>
        <dd><a href="#">Introduction</a></dd>
        <dd><a href="#">HTTP Pinback</a></dd>
        <dd><a href="#">Email Pingback</a></dd>
        <dd><a href="#">Expect Response</a></dd>     
      </dl>
    </div>
    <div class="side-bar__row">
      <div class="side-bar__row__title">payalto</div>
    </div>
    <div class="side-bar__row">
      <div class="side-bar__row__title">brick</div>
      <ul>
        <li><a href="#">Create one time token</a></li>
        <li><a href="#">Charge</a></li>
        <li><a href="#">Subscription</a></li>
      </ul>
    </div>
    <div class="side-bar__row">
      <div class="side-bar__row__title">mint</div>
      <ul>
        <li><a href="#">Get Epin</a></li>
        <li><a href="#">Get Balance</a></li>
        <li><a href="#">Get available balance</a></li>
        <li><a href="#">Redemption</a></li>
      </ul>
    </div>
    <div class="side-bar__row">
      <div class="side-bar__row__title">mobiamo</div>
      <ul>
        <li><a href="#">Price tools</a></li>
      </ul>
    </div>
    <div class="side-bar__row">
      <div class="side-bar__row__title">tools api</div>
      <ul>
        <li><a href="#">Bridge OAuth</a></li>
        <li><a href="#">Cancellation</a></li>
        <li><a href="#">Coupons</a></li>
        <li><a href="#">Delivery Confirmation</a></li>
        <li><a href="#">Invoice</a></li>
        <li><a href="#">Payment Satus</a></li>
        <li><a href="#">Payment System</a></li>
        <li><a href="#">Payment System</a></li>
        <li><a href="#">Product Details</a></li>
        <li><a href="#">Reporting</a></li>
        <li><a href="#">User Profile</a></li>
      </ul>
    </div>
  </section>