@import "./variables";

.code--purple {
  color: #9871aa;
}
.code--red {
  color: #b45b71;
}
.code--blue {
  color: #5890c1;
}
.code--green {
  color: #b9df7c;
}
.code--orange {
  color: #d7a56a;
}
.link--text {
  color: $active-link;
}
.main--color {
  background: $main-color;
}
.block {
  padding: 3rem;
}
